<!--   d-flex justify-content-center  -->
<div class="row d-flex justify-content-center mt-3">

  <!-- <div class="col-6 ">

    <div class="card">
      <div class="card-header text-center fw-bolder"> Datos del cliente</div>
      <div class="card-body">


        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">


          <h5 class="card-title text-center fw-bolder">Datos personales</h5>

          <app-datos-persona [datosForm]="profileForm"></app-datos-persona>

          <h5 class="card-title text-center fw-bolder">Datos de la dirección</h5>

          <app-agregar-direccion [datosDireccion]="profileForm"></app-agregar-direccion>

          <button mat-raised-button color="warn" [disabled]="!profileForm.valid">Warn</button>


        </form>

      </div>
    </div>

  </div> -->

  <div class="col-8" >


    <!-- color que puede quedar #ABBDC6  #9CAEB6 -->

      <mat-horizontal-stepper #stepper style="background-color: #959FA4 !important">
        <mat-step [stepControl]="datosPersonaForm" errorMessage="Datos requeridos.">
        
            <ng-template matStepLabel>Datos personales</ng-template>
         
              <app-datos-persona [datosPersona]="datosPersonaForm"></app-datos-persona>
           
            <div class="row">
              <div class="col-12 d-flex justify-content-end">
                <button mat-button matStepperNext>Next</button>
              </div>
            </div>
          
        </mat-step>
  
        <mat-step [stepControl]="datosDireccionForm" errorMessage="Dirección requerida.">
          
            <ng-template matStepLabel>Datos de dirección</ng-template>
  
            <app-agregar-direccion [datosDireccion]="datosDireccionForm"></app-agregar-direccion>
  
            <div class="row">
              <div class="col-12 d-flex justify-content-end">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
              </div>
              
     
      
      
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Terminado</ng-template>

         <ng-container *ngIf="datosPersonaForm.valid && datosDireccionForm.valid; else elseTemplate">
          <p class="text-center">Has terminado.</p>
         </ng-container>
         <ng-template #elseTemplate>
           <p class="text-center"> debes llenar los datos faltantes</p>
         </ng-template>
         
         
         
          <div class="row ">
            <div class="col-6 d-flex justify-content-end ">
              <button mat-button matStepperPrevious>Back</button>
            </div>
            <div class="col-6 ">
               
            <button type="submit" mat-raised-button color="accent" 
            (click)="onSubmit($event)" 
            [disabled]="!datosPersonaForm.valid && !datosDireccionForm.valid">
            Registrar
          </button>
            
            </div>

            <div class="alert alert-danger mt-3" *ngIf="mostrarMensaje"> {{ mensaje}}  </div>
          </div>
      
        </mat-step>
      </mat-horizontal-stepper>

  </div>
</div>
