<div class="row  font-Family-Fjalla d-flex justify-content-center">
  <div class="col-1 ">
    <button class="btn btn-secondary font-Family-Fjalla colorLetra" [routerLink]="['/empleado/nuevo']" [routerLinkActive]="['activeRouter']"  >nuevo</button>
  </div>
  <div class="col-1 ">
    <button class="btn btn-secondary colorLetra"  [routerLink]="['/empleado/buscar']" [routerLinkActive]="['activeRouter']" >buscar</button>
  </div>
  <div class="col-1 ">
    <button class="btn btn-secondary colorLetra">nuevo</button>
  </div>
  <div class="col-1 ">
    <button class="btn btn-secondary colorLetra">nuevo</button>
  </div>
</div>
