<nav class="navbar navbar-expand-lg colorNavegacion ">
    <div class="container-fluid">
      <a class="navbar-brand colorLetra fontFamily-Aton" href="#">Navbar</a>

      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active colorLetra font-Family-Fjalla" aria-current="page" [routerLink]="['/home']" [routerLinkActive]="['activeRouter']"  >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active colorLetra font-Family-Fjalla" aria-current="page" [routerLink]="['/venta/nueva']" [routerLinkActive]="['activeRouter']"  >Venta</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link colorLetra font-Family-Fjalla" [routerLink]="['/service']" >Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link colorLetra font-Family-Fjalla" [routerLink]="['/contacto']" >Contactos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link colorLetra font-Family-Fjalla" [routerLink]="['/empleado']" >Empleado</a>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle colorLetra font-Family-Fjalla" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mis datos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item " [routerLink]="['/cliente/nuevo']" [routerLinkActive]="['activeRouter']">nuevo</a></li>
              <li><a class="dropdown-item " href="#">Another action</a></li>
              <li><a class="dropdown-item " href="#">Something else here</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
