<form [formGroup]="datosPersona">

  <div class="row">
    <div class="col-12">
      
        <mat-form-field class="example-full-width col-12">
          <mat-label>
            <p class='colorLetra text-center'>Nombre</p>
          </mat-label>
          <input matInput class='col-12' formControlName="nombrePersona" required minlength="2">
        </mat-form-field>
    
        <div class="alert alert-info" *ngIf="datosPersona.get('nombrePersona').invalid &&
           (datosPersona.get('nombrePersona').dirty || 
           datosPersona.get('nombrePersona').touched)">
          Ingrese solo letras, minimo 2 caracteres y es requerido
        </div>
      </div>

  </div>

  <div class="row" >

      <div class="col-6">
        <mat-form-field class="example-full-width col-12">
          <mat-label>
            <p class='colorLetra'>Apellido paterno</p>
          </mat-label>
          <input matInput class='col-12' formControlName="paterno" required minlength="2">
        </mat-form-field>    
        <div class="alert alert-info" *ngIf="datosPersona.get('paterno').invalid &&
           (datosPersona.get('paterno').dirty || 
           datosPersona.get('paterno').touched)">
          Ingrese solo letras, minimo 2 caracteres y es requerido
        </div> 
      </div>
      <div class="col-6">
        <mat-form-field class="example-full-width col-12" >
          <mat-label>
            <p class='colorLetra'>Apellido materno</p>
          </mat-label>
          <input matInput class='col-12' formControlName="materno" required minlength="2">
        </mat-form-field>
        <div class="alert alert-info" *ngIf="datosPersona.get('materno').invalid &&
           (datosPersona.get('materno').dirty || 
           datosPersona.get('materno').touched)">
          Ingrese solo letras, minimo 2 caracteres y es requerido
        </div>
      </div>

  </div>
<!-- ----------------------- Cambiando todo ------------------------------------------------------------- -->

<div class="row" >
  <div class="col-6">
    <mat-form-field class="example-full-width col-12">
      <mat-label>
        <p class='colorLetra'>Correo electrónico</p>
      </mat-label>
      <input matInput class='col-12' formControlName="correo" required >
    </mat-form-field>
    <div class="alert alert-info" *ngIf="datosPersona.get('correo').invalid &&
       (datosPersona.get('correo').dirty || 
       datosPersona.get('correo').touched)">
      correo no valido
    </div>
  </div>
    <div class="col-6">
     <mat-form-field class="example-full-width col-12">
        <mat-label>
          <p class='colorLetra'>Teléfono</p>
        </mat-label>
        <input matInput class='col-12' formControlName="telefono" required minlength="10" maxlength='10'>
      </mat-form-field>
      <div class="alert alert-info" *ngIf="datosPersona.get('telefono').invalid &&
         (datosPersona.get('telefono').dirty || 
         datosPersona.get('telefono').touched)">
        Ingrese solo números , mínimo 10 caracteres y es requerido
      </div>
    </div>
</div>


</form>
